{
    "plugins": [
        "prettier"
    ],
    "extends": [
        "eslint-config-react-app",
        "eslint-config-prettier",
        "airbnb",
        "prettier"
    ],
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "arrowParens": "always",
                "trailingComma": "none",
                "tabWidth": 4,
                "semi": true,
                "singleQuote": true
            }
        ],
        "react/function-component-definition": [
            "error",
            {
                "namedComponents":  "arrow-function",
                "unnamedComponents": ["function-expression" ,"arrow-function"]
            }
        ],
        "react/jsx-filename-extension": [
            "warn",
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ]
    }
}
