{
  "plugins": ["stylelint-order"],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-styled-components",
    "stylelint-config-rational-order"
  ],
  "rules": {
    "alpha-value-notation": "number",
    "color-function-notation": "legacy",
    "font-family-name-quotes": "always-unless-keyword",
    "media-feature-range-notation": "prefix"
  },
  "customSyntax": "postcss-styled-syntax"
}
